<h1>Hi! Please confirm your email!</h1>

<p>
	Votre compte a bien été validé !
	<br><br>
	<a href="{{ path('app_login') }}">Connectez vous !</a>.
				    This link will expire in
</p>

<p>
	Cheers!
</p>
